{
    box-sizing:border-box;
}
header {
    /* propiedad: valor; */
    background-color: #807e7e; 
    height: 100px;
    color: whitesmoke;
    margin-bottom: 15px;
    padding: 30px;
    border:0px solid blue;
    text-align: center;
}

nav{
    background-color: rgb(233, 56, 86); 
    margin: 0px;
    padding: 5px;
    border:0px solid blue;
    text-align: center; 
    height:80px;
    color: whitesmoke;

}
aside{
    background-color: rgb(65, 133, 65);
    height: 500px;
    text-align: center; 
    color: whitesmoke;
    border: 0px solid red;
    width: 30%;
    display: inline-block;
    padding: 0px;
    margin: 10px;

}
section{
    background-color: green;
    height: 480px;
    text-align: center; 
    color: whitesmoke;
    border: 0px solid red;
    width: 60%;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    float: right;
    
}
article{
    background-color: blue;
    text-align: center; 
    padding: 30px;
    margin: 40px;
}

footer{
    background-color: rgb(233, 56, 56); 
    margin: 0px;
    padding: 10px;
    border:0px solid blue;
    text-align: center; 
    height:80px;
    color: whitesmoke;
}
/* ESPECIFIDAD
TAGNAME  1
CLASE  10
ID  100
ESTILOS EN LINEA   100
*/


